---
layout: base
pagination:
  data: daily
  size: 1
  alias: record
permalink: "daily/{{ record.date|formatDate('YYYY-MM-DD') }}/index.html"
---
{% from "daily-macros.njk" import dailyTable, 
                                  totalTable, 
                                  dailyTopIncidence, 
                                  totalTopCases, 
                                  dailyVaccinationTable,
                                  totalVaccinationTable,
                                  incidenceBarChart,
                                  casesBarChart %}

{% set prevRecord = pagination.pages[pagination.pageNumber - 1] %}

<div id="daily" class="daily">
  <div class="daily__title">
    <h1><span>Covid19</span> in Österreich</h1>
  </div>
  <div class="daily__date">
    <div class="weekday">{{ record.date | formatDate('dddd') | translateDate }},</div>
    <div class="date">{{ record.date | formatDate('MMMM DD, YYYY') | translateDate }}</div>
  </div>
  {%- if pagination.pageNumber > 0 %}
  <nav class="daily__date-nav daily__date-nav--previous">
      <a href="{{ pagination.href.previous }}">Previous day</a>
      <div class="date">{{ pagination.page.previous.date | formatDate('MMM DD') | translateDate }}</div>
  </nav>
  {% endif -%}
  {%- if pagination.page.next %}
  <nav class="daily__date-nav daily__date-nav--next">
      <a href="{{ pagination.href.next }}">Next day</a>
      <div class="date">{{ pagination.page.next.date | formatDate('MMM DD') | translateDate }}</div>
  </nav>
  {% endif -%}
  
  <div class="daily__update">
    <em>{{ pagination.pages | daysSinceFirstCase(record.date) }} Tage</em> seit dem ersten Fall in Österreich. 
    Neueste Daten vom <em>{{ pagination.pages[pagination.pages.length - 1].date | formatDate('DD. MMMM YYYY') | translateDate }}</em>.
    Zuletzt aktualisiert am 
    <em>{{ currentDate | formatDate('DD. MMMM YYYY') | translateDate }}</em> um 
    <em>{{ currentDate | formatDate('HH:mm') }}</em>. 
  </div>
  
  {{ dailyTable(record.austria, prevRecord.austria) }}
  
  {{ totalTable(record.austria, pagination.pages[0]) }}
  
  <div class="daily__chart daily__chart--incidence-osterreich">
    {{ incidenceBarChart(pagination.pages | recordsUntil(record.date) | arraySlice(-60) | recordsForProvince(10), record.austria.province) }}
  </div>
  
  <div class="daily__chart daily__chart--cases-osterreich">
    {{ casesBarChart(pagination.pages | recordsUntil(record.date) | arraySlice(-60) | recordsForProvince(10), record.austria.province) }}
  </div>
  
  {% if record.vaccinationsAustria %}
    {{ dailyVaccinationTable(record.vaccinationsAustria, prevRecord.vaccinationsAustria) }}
    {{ totalVaccinationTable(record.vaccinationsAustria, prevRecord.vaccinationsAustria, pagination.pages[0]) }}
  {% endif %}
  
  <div class="daily__province-nav">
    <ul>
      {% for province in record.provinces %}
        <li><a href="#province-daily-{{ province.province | slug }}">{{ province.province }}</a></li>
      {% endfor %}
    </ul>
  </div>
  
  {{ dailyTopIncidence(record) }}
  {{ totalTopCases(record, pagination.pages[0]) }}
  
  {% for province in record.provinces %}
    {{ dailyTable(province, prevRecord.provinces[loop.index0]) }}
    {{ totalTable(province, pagination.pages[0]) }}
    
    <div class="daily__chart daily__chart--incidence-{{ province.province | slug }}">
      {{ incidenceBarChart(pagination.pages | recordsUntil(record.date) | arraySlice(-60) | recordsForProvince(province.provinceId), province.province) }}
    </div>
    
    <div class="daily__chart daily__chart--cases-{{ province.province | slug }}">
      {{ casesBarChart(pagination.pages | recordsUntil(record.date) | arraySlice(-60) | recordsForProvince(province.provinceId), province.province) }}
    </div>
  {% endfor %}
  
</div>

<pre class="recorddump">
{{ record | formatJSON }}
</pre>

