---
layout: base
title: COVID19 in Austria
---
{% from "daily-macros.njk" import renderChangeIcon %}
{% from "macros.njk" import dataSources %}

{% set morningReportToday = morningReport | last %}
{% set morningReportYesterday = morningReport | arraySlice(-2) | first %}

{% macro timelineChart(records, province) %}
{% set imageWidth = 300 %}
{% set imageHeight = 120 %}
{% set barHeight7DI = 100 %}
{% set dayCount = records | length %}
{% set barGap = (imageWidth / dayCount) / 5 %}
{% set barWidth = (imageWidth / dayCount) - barGap %}
{% set maxIncidence = records | maxIncidence %}
<figure>
  <div class="chart-timeline" style="height: {{ imageHeight }}px">
    <div class="chart-timeline__bar-legends-text" style="top: {{ barHeight7DI + 5 }}px">
      {% for record in records %}
        {% set x = loop.index0 * (barWidth + barGap) + (barWidth / 2) %}
        {% set left -%}
          {%- if loop.first -%}0
          {%- elif loop.last -%}100
          {%- else -%}{{ (100 / imageWidth) * x }}
          {%- endif -%}
        {% endset %}
        <span style="left: {{ left }}%">{{ record.date | formatDate('DD.MM') }}</span>
      {% endfor %}
    </div>
    <svg class="chart-timeline__image" height="{{ imageHeight }}" viewBox="0 0 300 {{ imageHeight }}" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g class="chart-timeline__bars chart-timeline__bars--incidence">
        {% for record in records %}
          {% set recordHeight = (barHeight7DI / maxIncidence) * record.sevenDayIncidence %}
          <rect x="{{ loop.index0 * (barWidth + barGap) }}" 
                y="{{ barHeight7DI - recordHeight }}"
                width="{{ barWidth }}" 
                height="{{ recordHeight }}"></rect>
        {% endfor %}
      </g>
      <g class="chart-timeline__bar-legends">
        {% for record in records %}
          {% set x = loop.index0 * (barWidth + barGap) + (barWidth / 2) %}
          <line x1="{{ x }}" x2="{{ x }}" y1="{{ barHeight7DI }}" y2="{{ barHeight7DI + 5}}" stroke="#ccc"></line>
        {% endfor %}
      </g>
    </svg>
    <div class="chart-timeline__line chart-timeline__line--max-incidence">
      <span><em>7TI</em>={{ maxIncidence | round | formatNumber }}</span>
    </div>
    {% set currentIncidence = records[records.length - 1].sevenDayIncidence %}
    {% set currentIncidenceHeight = (barHeight7DI / maxIncidence) * currentIncidence %}
    <div class="chart-timeline__line chart-timeline__line--current-incidence" style="top: {{ barHeight7DI - currentIncidenceHeight }}px">
      <span>
        <em>7TI</em>={{ currentIncidence | round | formatNumber }}
      </span>
    </div>
  </div>
  <figcaption>7-Tage-Inzidenz (7TI) in Österreich in den letzten {{ dayCount }} Tagen</figcaption>
</figure>
{% endmacro %}

{% set currentPermalink = '/daily/' + daily[daily.length -1].date | formatDate('YYYY-MM-DD') + '/' %}

<div id="index" class="layout index">
  <div class="layout__title index__title">
    <h1><span>Covid19</span> in Österreich</h1>
  </div>
  
  <div class="layout__date index__date">
    <div class="weekday">{{ currentDate | formatDate('dddd') | translateDate }},</div>
    <div class="date">{{ currentDate | formatDate('D. MMMM, YYYY') | translateDate }}</div>
  </div>
  
  <div class="index__update">
    <em>{{ daily | daysSinceFirstCase(currentDate) }} Tage</em> seit dem ersten Fall in Österreich. 
    Neueste Daten vom <a href="{{ currentPermalink }}"><em>{{ daily[daily.length - 1].date | formatDate('D. MMMM YYYY') | translateDate }}</em></a>.
    Zuletzt aktualisiert am 
    <em>{{ currentDate | formatDate('D. MMMM YYYY') | translateDate }}</em> um 
    <em>{{ currentDate | formatDate('HH:mm') }}</em>. 
  </div>
  
  <div class="index__day-list-head"></div>
  
  <div class="index__day-list-head"></div>
  
  <div class="index__chart index__chart--timeline">
    {{ timelineChart(daily | recordsUntil(record.date) | arraySlice(-120) | recordsForProvince(10), 'Österreich') }}
  </div>
  
  <div class="index__day-list-head index__day-list-head--morning-report">
    <h2>Morgenmeldung <a href="#morning-report-help">?</a></h2>
    <div class="tagline">Vom {{ morningReportToday.date | formatDate('D. MMMM') | translateDate }}, Änderungen seit {{ morningReportYesterday.date | formatDate('D. MMMM') | translateDate }}</div>
  </div>
  <div class="index__day-list index__day-list--morning-report">
    <ul>
      <li class="daily__table-row">
        <div class="label">Neue Fälle</div>
        <div class="spacer"></div>
        <div class="number">
          {{ morningReportToday.austria.casesDaily | formatNumber }}
        </div>
        {{ renderChangeIcon(morningReportToday.austria.casesDaily, morningReportYesterday.austria.casesDaily, true) }}
      </li>
      <li class="daily__table-row">
        <div class="label">Neue Todesfälle</div>
        <div class="spacer"></div>
        <div class="number">
          {{ morningReportToday.austria.deathsDaily | formatNumber }}
        </div>
        {{ renderChangeIcon(morningReportToday.austria.deathsDaily, morningReportYesterday.austria.deathsDaily, true) }}
      </li>
      <li class="daily__table-row daily__table-row--with-spacer">
        <div class="label">Neu Genesene</div>
        <div class="spacer"></div>
        <div class="number">
          {{ morningReportToday.austria.curedDaily | formatNumber }}
        </div>
        {{ renderChangeIcon(morningReportToday.austria.curedDaily, morningReportYesterday.austria.curedDaily, false) }}
      </li>
      <li class="daily__table-row">
        <div class="label">Neue Tests</div>
        <div class="spacer"></div>
        <div class="number">
          {{ morningReportToday.austria.testsDaily | formatNumber }}
        </div>
        {{ renderChangeIcon(morningReportToday.austria.testsDaily, morningReportYesterday.austria.testsDaily, false) }}
      </li>
      <li class="daily__table-row">
        <div class="label">Neue PCR-Tests</div>
        <div class="spacer"></div>
        <div class="number">
          {{ morningReportToday.austria.pcrTestsDaily | formatNumber }}
        </div>
        {{ renderChangeIcon(morningReportToday.austria.pcrTestsDaily, morningReportYesterday.austria.pcrTestsDaily, false) }}
      </li>
      <li class="daily__table-row daily__table-row--with-spacer">
        <div class="label">Neue Antigen-Tests</div>
        <div class="spacer"></div>
        <div class="number">
          {{ morningReportToday.austria.antigenTestsDaily | formatNumber }}
        </div>
        {{ renderChangeIcon(morningReportToday.austria.antigenTestsDaily, morningReportYesterday.austria.antigenTestsDaily, false) }}
      </li>
      <li class="daily__table-row">
        <div class="label">Belegte KH-Betten</div>
        <div class="spacer"></div>
        <div class="number">
          {{ morningReportToday.austria.hospitalBeds | formatNumber }}
        </div>
        {{ renderChangeIcon(morningReportToday.austria.hospitalBeds, morningReportYesterday.austria.hospitalBeds, true) }}
      </li>
      <li class="daily__table-row">
        <div class="label">Belegte Intensiv-Betten</div>
        <div class="spacer"></div>
        <div class="number">
          {{ morningReportToday.austria.icuBeds | formatNumber }}
        </div>
        {{ renderChangeIcon(morningReportToday.austria.icuBeds, morningReportYesterday.austria.icuBeds, true) }}
      </li>
    </ul>
  </div>
  
  <div class="index__day-list-head index__day-list-head--inflection-points">
    <h2>Wendepunkte der Pandemie</h2>
  </div>
  <div class="index__day-list index__day-list--inflection-points">
    <ul>
      <li class="daily__table-row">
        <div class="label">Erster Fall</div>
        <div class="spacer"></div>
        <div class="number">
          {% set firstCaseDate = (daily | firstCaseRecord).austria.date %}
          <a href="/daily/{{ firstCaseDate | formatDate('YYYY-MM-DD') }}/">{{ firstCaseDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
      <li class="daily__table-row daily__table-row--with-spacer">
        <div class="label">Erster Todesfall</div>
        <div class="spacer"></div>
        <div class="number">
          {% set firstDeathDate = (daily | firstDeathRecord).austria.date %}
          <a href="/daily/{{ firstDeathDate | formatDate('YYYY-MM-DD') }}/">{{ firstDeathDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
      
      <li class="daily__table-row daily__table-row">
        <div class="label">Meisten neuen Fälle</div>
        <div class="spacer"></div>
        <div class="number">
          {% set maxCasesDate = (daily | maxCasesRecord).austria.date %}
          <a href="/daily/{{ maxCasesDate | formatDate('YYYY-MM-DD') }}/">{{ maxCasesDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
      <li class="daily__table-row ">
        <div class="label">Höchste 7T-Inzidenz</div>
        <div class="spacer"></div>
        <div class="number">
          {% set max7DIDate = (daily | maxSevenDayIncidenceRecord).austria.date %}
          <a href="/daily/{{ max7DIDate | formatDate('YYYY-MM-DD') }}/">{{ max7DIDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
      <li class="daily__table-row">
        <div class="label">Höchste KH-Belegung</div>
        <div class="spacer"></div>
        <div class="number">
          {% set maxHospitalBedsDate = (daily | maxHospitalBedsRecord).austria.date %}
          <a href="/daily/{{ maxHospitalBedsDate | formatDate('YYYY-MM-DD') }}/">{{ maxHospitalBedsDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
      <li class="daily__table-row">
        <div class="label">Höchste Intensiv-Belegung</div>
        <div class="spacer"></div>
        <div class="number">
          {% set maxIcuBedsDate = (daily | maxIcuBedsRecord).austria.date %}
          <a href="/daily/{{ maxIcuBedsDate | formatDate('YYYY-MM-DD') }}/">{{ maxIcuBedsDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
      <li class="daily__table-row daily__table-row--with-spacer">
        <div class="label">Meisten Tests</div>
        <div class="spacer"></div>
        <div class="number">
          {% set maxTestsDate = (daily | maxTestsRecord).austria.date %}
          <a href="/daily/{{ maxTestsDate | formatDate('YYYY-MM-DD') }}/">{{ maxTestsDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
      
      <li class="daily__table-row">
        <div class="label">Letzter Todesfall</div>
        <div class="spacer"></div>
        <div class="number">
          {% set lastDeathDate = (daily | lastDeathRecord).austria.date %}
          <a href="/daily/{{ lastDeathDate | formatDate('YYYY-MM-DD') }}/">{{ lastDeathDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
      <li class="daily__table-row">
        <div class="label">Letzter Fall</div>
        <div class="spacer"></div>
        <div class="number">
          {% set lastCaseDate = (daily | lastCaseRecord).austria.date %}
          <a href="/daily/{{ lastCaseDate | formatDate('YYYY-MM-DD') }}/">{{ lastCaseDate | formatDate('DD.MM.YYYY') }}</a>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="index__day-list-head index__day-list-head--last-week">
    <h2>Letzte Woche</h2>
    <div class="tagline">Mit 7-Tage-Inzidenz</div>
  </div>
  <div class="index__day-list index__day-list--last-week">
    <ul>
      {% for record in daily | arraySlice(-7) | reverse %}
        {% set prevRecord = daily | recordForDate(record.date, 1, 'day') %}
        {% set permalink = '/daily/' + record.date | formatDate('YYYY-MM-DD') + '/' %}
        <li class="daily__table-row">
          <div class="label"><a href="{{ permalink }}">{{ record.date | formatDate('D. MMMM') | translateDate }}</a></div>
          <div class="spacer"></div>
          <div class="number">{{ record.austria.sevenDayIncidence | round | formatNumber }}</div>
          {% if prevRecord %}
            {{ renderChangeIcon(record.austria.sevenDayIncidence, prevRecord.austria.sevenDayIncidence, true) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="index__day-list-head index__day-list-head--last-year">
    <h2>Letztes Jahr</h2>
    <div class="tagline">Mit 7-Tage-Inzidenz</div>
  </div>
  <div class="index__day-list index__day-list--last-year">
    <ul>
      {% for record in daily | arraySlice(-365) | reverse %}
        {% set prevRecord = daily | recordForDate(record.date, 1, 'month') %}
        {% set dayOfMonth = record.date | formatDate('D') %}
        {% if dayOfMonth === '1' %}
        {% set permalink = '/daily/' + record.date | formatDate('YYYY-MM-DD') + '/' %}
        <li class="daily__table-row">
          <div class="label"><a href="{{ permalink }}">{{ record.date | formatDate('D. MMMM') | translateDate }}</a></div>
          <div class="spacer"></div>
          <div class="number">{{ record.austria.sevenDayIncidence | round | formatNumber }}</div>
          {% if prevRecord %}
            {{ renderChangeIcon(record.austria.sevenDayIncidence, prevRecord.austria.sevenDayIncidence, true) }}
        {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  {{ dataSources() }}
  
  <div class="index__day-text-head index__day-text-head--morning-report-help">
    <h2 id="morning-report-help">Morgenmeldung Erklärung</h2>
  </div>
  <div class="index__day-text index__day-text--morning-report-help">
    <p>Die gemeldeten COVID-19 Zahlen der Bundesländer an den nationalen Krisenstab. In der Morgenmeldung sind die Daten dem Tag der Meldung zugeordnet, in der Regel beziehen sich die Daten auf den Vortag.
  </div>
</div>
