{% macro renderChangeIcon(number1, number2, downIsGood = false) %}
<span class="change-arrow
  {%- if number1 === number2 %} eql
  {%- elif number1 > number2%} up
  {%- else %} down{% endif -%}
  {%- if (downIsGood and number1 < number2) or (not downIsGood and number1 > number2) %} good
  {%- elif number1 === number2 %} neutral
  {%- else %} bad{% endif -%}">-></span>
{% endmacro %}

{% macro dailyTable(record, prevRecord) %}
<div id="province-daily-{{ record.province | slug }}" 
     class="daily__table-head daily__table-head--daily-{{ record.province | slug }}">
  <h2>Tag <span>in {{ record.province }}</span></h2>
  {% if record.provinceId !== 10 %}
  <a href="#daily" class="to-top">Nach oben</a>
  {% endif %}
  <div class="tagline">Zahlen für {{ record.date | formatDate('DD. MMMM') | translateDate }}</div>
</div>
<div class="daily__table daily__table--daily-{{ record.province | slug }}">
  <div class="daily__table-row">
    <div class="label">7-Tage-Inzidenz</div>
    <div class="spacer"></div>
    <div class="number">{{ record.sevenDayIncidence | round | formatNumber }}</div>
    {{ renderChangeIcon(record.sevenDayIncidence, prevRecord.sevenDayIncidence, true) }}
  </div>
  <div class="daily__table-row">
    <div class="label">Fälle</div>
    <div class="spacer"></div>
    <div class="number">{{ record.casesDaily | formatNumber }}</div>
    <div class="change">
      {{ renderChangeIcon(record.casesDaily, prevRecord.casesDaily, true) }}
    </div>
  </div>
  <div class="daily__table-row">
    <div class="label">Todesfälle</div>
    <div class="spacer"></div>
    <div class="number">{{ record.deathsDaily | formatNumber }}</div>
    {{ renderChangeIcon(record.deathsDaily, prevRecord.deathsDaily, true) }}
  </div>
  <div class="daily__table-row">
    <div class="label">Geheilt</div>
    <div class="spacer"></div>
    <div class="number">{{ record.curedDaily | formatNumber }}</div>
    {{ renderChangeIcon(record.curedDaily, prevRecord.curedDaily, false) }}
  </div>
  <div class="daily__table-row">
    <div class="label">Fälle / 100k EW</div>
    <div class="spacer"></div>
    <div class="number">{{ record.casesDailyPerInhabitants | round | formatNumber }}</div>
    {{ renderChangeIcon(record.casesDailyPerInhabitants, prevRecord.casesDailyPerInhabitants, true) }}
  </div>
  <div class="daily__table-row">
    <div class="label">Todesfälle / 100k EW</div>
    <div class="spacer"></div>
    <div class="number">{{ record.deathsDailyPerInhabitants | round | formatNumber }}</div>
    {{ renderChangeIcon(record.deathsDailyPerInhabitants, prevRecord.deathsDailyPerInhabitants, true) }}
  </div>
</div>
{% endmacro %}

{% macro totalTable(record, firstRecord) %}
<div id="province-total-{{ record.province | slug }}" 
     class="daily__table-head daily__table-head--total-{{ record.province | slug }}">
  <h2>Gesamtzahlen <span>für {{ record.province }}</span></h2>
  <div class="tagline">Seit {{ firstRecord.date | formatDate('DD.MM.YYYY') }}</div>
</div>
<div class="daily__table daily__table--total-{{ record.province | slug }}">
  <div class="daily_table-row daily_table-row--placeholder"></div>
  <div class="daily__table-row">
    <div class="label">Fälle</div>
    <div class="spacer"></div>
    <div class="number">{{ record.casesTotal | formatNumber }}</div>
  </div>
  <div class="daily__table-row">
    <div class="label">Todesfälle</div>
    <div class="spacer"></div>
    <div class="number">{{ record.deathsTotal | formatNumber }}</div>
  </div>
  <div class="daily__table-row">
    <div class="label">Geheilt</div>
    <div class="spacer"></div>
    <div class="number">{{ record.curedTotal | formatNumber }}</div>
  </div>
  <div class="daily__table-row">
    <div class="label">Fälle / 100k EW</div>
    <div class="spacer"></div>
    <div class="number">{{ record.casesTotalPerInhabitants | round | formatNumber }}</div>
  </div>
  <div class="daily__table-row">
    <div class="label">Todesfälle / 100k EW</div>
    <div class="spacer"></div>
    <div class="number">{{ record.deathsTotalPerInhabitants | round | formatNumber }}</div>
  </div>
</div>
{% endmacro %}

{% macro dailyTopIncidence(record) %}
<div id="daily-top-incidence" 
   class="daily__table-head daily__table-head--daily-top-incidence">
   <h2>7-Tage-Inzidenz <span>im Östereichvergleich</span></h2>
   <div class="tagline">Zahlen für {{ record.date | formatDate('DD. MMMM') | translateDate }}</div>
</div>
<div class="daily__table daily__table--daily-top-incidence">
  {% for province in record.provinces | sortByIncidence %}
    <div class="daily__table-row">
      <div class="label">{{ province.province }}</div>
      <div class="spacer"></div>
      <div class="number">
        {{ province.sevenDayIncidence | round | formatNumber }}
      </div>
    </div>
  {% endfor %}
  <div class="daily__table-row">
    <div class="label">==> Österreich</div>
    <div class="spacer"></div>
    <div class="number">{{ record.austria.sevenDayIncidence | round | formatNumber }}</div>
  </div>
</div>
{% endmacro %}

{% macro totalTopCases(record, firstRecord) %}
<div id="total-top-cases" 
   class="daily__table-head daily__table-head--total-top-cases">
   <h2>Gesamtzahlen <span>im Östereichvergleich</span></h2>
   <div class="tagline">Fälle pro 100.000 Einwohner seit {{ record.date | formatDate('DD. MMMM') | translateDate }}</div>
</div>
<div class="daily__table daily__table--total-top-cases">
  {% for province in record.provinces | sortByCasesTotal %}
    <div class="daily__table-row">
      <div class="label">{{ province.province }}</div>
      <div class="spacer"></div>
      <div class="number">
        {{ province.casesTotalPerInhabitants | round | formatNumber }}
      </div>
    </div>
  {% endfor %}
  <div class="daily__table-row">
    <div class="label">==> Österreich</div>
    <div class="spacer"></div>
    <div class="number">{{ record.austria.casesTotalPerInhabitants | round | formatNumber }}</div>
  </div>
</div>
{% endmacro %}

{% macro dailyVaccinationTable(record, prevRecord) %}
<div id="province-daily-vacc-{{ record.province | slug }}" 
   class="daily__table-head daily__table-head--daily-vacc-{{ record.province | slug }}">
  <h2>Impfungen <span>in {{ record.province }}</span></h2>
  {% if record.provinceId !== 10 %}
  <a href="#daily" class="to-top">Nach oben</a>
  {% endif %}
  <div class="tagline">Zahlen für {{ record.date | formatDate('DD. MMMM') | translateDate }}</div>
</div>
<div class="daily__table daily__table--daily-vacc-{{ record.province | slug }}">
  <div class="daily__table-row">
    <div class="label">Eingetragene Impfungen</div>
    <div class="spacer"></div>
    <div class="number">{{ record.dailyRegisteredVaccinations | formatNumber }}</div>
    {{ renderChangeIcon(record.dailyRegisteredVaccinations, prevRecord.dailyRegisteredVaccinations, false) }}
  </div>
  <div class="daily__table-row">
    <div class="label">Impfungen 1. Dosis</div>
    <div class="spacer"></div>
    <div class="number">{{ record.dailyPartlyVaccinated | formatNumber }}</div>
    {{ renderChangeIcon(record.dailyPartlyVaccinated, prevRecord.dailyPartlyVaccinated, false) }}
  </div>
  <div class="daily__table-row">
    <div class="label">Impfungen 2. Dosis</div>
    <div class="spacer"></div>
    <div class="number">{{ record.dailyFullyVaccinated | formatNumber }}</div>
    {{ renderChangeIcon(record.dailyFullyVaccinated, prevRecord.dailyFullyVaccinated, false) }}
  </div>
</div>
{% endmacro %}

{% macro totalVaccinationTable(record, prevRecord, firstRecord) %}
<div id="province-total-vacc-{{ record.province | slug }}" 
   class="daily__table-head daily__table-head--total-vacc-{{ record.province | slug }}">
  <h2>Impfungen <span>in {{ record.province }}</span></h2>
  <div class="tagline">Gesamtzahlen seit {{ firstRecord.date | formatDate('DD.MM.YYYY') }}</div>
  {% if record.provinceId !== 10 %}
  <a href="#daily" class="to-top">Nach oben</a>
  {% endif %}
</div>
<div class="daily__table daily__table--total-vacc-{{ record.province | slug }}">
  <div class="daily__table-row">
    <div class="label">Eingetragene Impfungen</div>
    <div class="spacer"></div>
    <div class="number">{{ record.registeredVaccinations | formatNumber }}</div>
  </div>
  <div class="daily__table-row">
    <div class="label">Impfungen 1. Dosis</div>
    <div class="spacer"></div>
    <div class="number">{{ record.partlyVaccinated | formatNumber }}</div>
  </div>
  <div class="daily__table-row">
    <div class="label">Impfungen 2. Dosis</div>
    <div class="spacer"></div>
    <div class="number">{{ record.fullyVaccinated | formatNumber }}</div>
  </div>
</div>
{% endmacro %}

{% macro incidenceBarChart(records, province) %}
  {% set maxValue = records | maxIncidence %}
  <figure>
    <svg viewBox="0 0 300 50" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        {% for record in records %}
          {% set recordHeight = (50 / maxValue) * record.sevenDayIncidence %}
          <rect x="{{ loop.index0 * 4.84 + 6 }}" 
                y="{{ 50 - recordHeight }}" 
                width="3" 
                height="{{ recordHeight }}"
                fill="{{ "#ba3b46" if loop.last else "#000000" }}"></rect>
        {% endfor %}
      </g>
    </svg>
    <figcaption>7-Tage-Inzidenz ({{ province }}) in den letzten 60 Tagen</figcaption>
  </figure>
{% endmacro %}

{% macro casesBarChart(records, province) %}
{% set maxValue = records | maxCases %}
<figure>
  <svg viewBox="0 0 300 50" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      {% for record in records %}
        {% set recordHeight = (50 / maxValue) * record.casesDaily %}
        <rect x="{{ loop.index0 * 5.04 }}" 
              y="{{ 50 - recordHeight }}" 
              width="3" 
              height="{{ recordHeight }}"
              fill="{{ "#ba3b46" if loop.last else "#000000" }}"></rect>
      {% endfor %}
    </g>
  </svg>
  <figcaption>Neue Fälle ({{ province }}) in den letzten 60 Tagen</figcaption>
</figure>
{% endmacro %}
