{% macro dataSources() %}
<div class="daily__table-head daily__table-head--data">
  <h2>Datenquellen</h2>
</div>
<div class="daily__sources">
  <ul>
    <li>
      <a href="https://www.data.gv.at/katalog/dataset/4312623f-2cdc-4a59-bea5-877310e6e48d">Eingetragene Impfungen im e-Impfpass</a>
      <span>Bundesministerium für Soziales, Gesundheit, Pflege und Konsumentenschutz (BMSGPK)</span>
    </li>
    <li>
      <a href="https://www.data.gv.at/katalog/dataset/ef8e980b-9644-45d8-b0e9-c6aaf0eff0c0">Zeitliche Darstellung von Daten zu Covid19-Fällen je Bundesland</a>
      <span>Bundesministerium für Soziales, Gesundheit, Pflege und Konsumentenschutz (BMSGPK)</span>
  </ul>
</div>
{% endmacro %}