<!DOCTYPE html>
<html lang="de" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{ title or metadata.title }}</title>

  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>

  <link rel="stylesheet" href="{{ css.stylesCss }}">
  <link rel="stylesheet" href="{{ css.printCss }}" media="print">

  <meta name="description" content="{{ description or metadata.description }}">
  <meta property="og:title" content="{{ title or metadata.title }}">
  <meta property="og:description" content="{{ description or metadata.description }}">
  {# <meta property="og:image" content="https://www.mywebsite.com/image.jpg"> #}
  {# <meta property="og:image:alt" content="Image description"> #}
  <meta property="og:locale" content="de_AT">
  <meta property="og:type" content="website">
  {# <meta name="twitter:card" content="summary_large_image"> #}
  <meta property="og:url" content="{{ metadata.url }}/{{ url }}">
  <link rel="canonical" href="{{ metadata.url }}/{{ url }}">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="theme-color" content="#000000">
</head>

<body>
  {{ content | safe }}
  
  <footer class="footer">
    <a href="https://const.sh">const.sh</a>.
    Gebaut von <a href="https://florian.ec">Florian Eckerstorfer</a> in Wien, Europa.
  </footer>
</body>
</html>