:root {
  --dark: #000000;
  --dark-contrast: #ffffff;
  --light: #ffffff;
  --light-contrast: #000000;

  --pearl: #f7f7f9;
  --faraway-sky: #8e7cc3;
  --scandinavian-sky: #c2d6d6;
  --black-violet: #2b2d42;
  --yoga-flame: #f7e733;
  --cottagecore-sunset: #ffd9da;
  --aphrodite-aqua: #41e2ba;
  --french-raspberry: #ba3b46;

  --bad: #f15025;
  --good: #84b082;
  --neutral: #ffc145;

  --dashboard-bg-color: var(--pearl);
  --box-bg-color: var(--scandinavian-sky);
  --link-color: var(--french-raspberry);

  --dot-bg: url('data:image/svg+xml;utf8,<svg width="10px" height="22px" viewBox="0 0 10 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Victor Mono" font-size="17.6" font-weight="normal"><text id="." fill="%23000000"><tspan x="0" y="18">.</tspan></text></g></svg>');
}

html {
  --body-font: 'Victor Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --body-font-size: 1rem;
  --body-letter-spacing: -0.004em;
  --body-font-weight: 400;

  --title-font-size: var(--body-font-size);
  --title-font-weight: bold;

  --tagline-font-size: 0.85rem;
  --tagline-font-weight: 700;
}

@media (min-width: 375px) {
  html {
    --body-font-size: 1.1rem;
  }
}

body {
  background: var(--dashboard-bg-color);
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  margin: 0;
  padding: 0;
  font-feature-settings: 'calt' 1;
}

figure {
  margin: 0;
}

figcaption {
  color: #999;
  font-size: 0.85rem;
  text-align: center;
}

a:link,
a:active,
a:visited {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}
