.footer {
  background: var(--dark);
  color: var(--dark-contrast);
  font-size: 0.85rem;
  padding: 1rem;
}

.footer a:link,
.footer a:active,
.footer a:visited {
  color: var(--faraway-sky);
  font-weight: bold;
}
