.index__latest {
  grid-column: span 2;
  padding: 0.25rem;
}

.index__latest a::after {
  content: '->';
  text-decoration: none;
}

.index__update {
  font-size: 0.85rem;
  grid-column: span 2;
  padding: 0.25rem;
}

.index__day-list-head,
.index__day-list {
  grid-column: span 2;
}

.index__day-list-head {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.25rem;
}

.index__day-text-head h2,
.index__day-list-head h2 {
  font-size: var(--title-font-size);
  margin: 0;
}

.index__day-list-head .tagline {
  font-size: 0.85rem;
  flex-basis: 100%;
}

.index__day-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index__day-list li {
  padding: 0 0.25rem;
}

.index__day-text,
.index__day-text-head {
  grid-column: span 2;
  padding: 0.25rem;
}

.index__day-text p {
  margin: 0 0 1rem;
}

.index__day-text p:last-child {
  margin-bottom: 0;
}

.index__chart {
  grid-column: span 2;
  padding: 0.25rem;
}

.index__chart .chart-incidence {
  width: 100%;
  height: 100px;
}

@media screen and (min-width: 650px) {
  .index__date {
    grid-column: span 2;
  }

  .index__latest {
    grid-column: 2 / span 1;
  }

  .index__chart {
    grid-column: span 1;
  }

  .index__chart--timeline {
    grid-column: span 2;
  }

  .index__day-list,
  .index__day-list-head {
    grid-column: span 1;
  }

  .index__day-list--last-week,
  .index__day-list-head--last-week,
  .index__day-list--morning-report,
  .index__day-list-head--morning-report {
    grid-column: 1 / span 1;
  }

  .index__day-list--last-year,
  .index__day-list-head--last-year .index__day-list--inflection-points,
  .index__day-list-head--inflection-points {
    grid-column: 2 / span 1;
  }
}

@media screen and (min-width: 950px) {
  .index__title {
    grid-column: span 3;
  }

  .index__date {
    grid-column: 1 / span 1;
  }

  .index__latest {
    grid-column: 2 / span 1;
  }

  .index__update {
    grid-column: 1 / span 1;
  }

  .index__chart--timeline {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .index__day-list--last-week,
  .index__day-list-head--last-week,
  .index__day-list--morning-report,
  .index__day-list-head--morning-report {
    grid-column: 2 / span 1;
  }

  .index__day-list--last-year,
  .index__day-list-head--last-year,
  .index__day-list--inflection-points,
  .index__day-list-head--inflection-points {
    grid-column: 3 / span 1;
  }

  .index__day-text,
  .index__day-text-head {
    grid-column: 2 / span 2;
  }
}
