.layout {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background: var(--dashboard-bg-color);
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
}

.layout__title {
  background: var(--dark);
  color: var(--dark-contrast);
  grid-column: span 2;
  padding: 0.25rem;
}

.layout__title h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  margin: 0 0.5rem 0 0;
  text-align: center;
}

.layout__title h1 span {
  font-style: italic;
}

.layout__title a:link,
.layout__title a:active,
.layout__title a:visited,
.layout__title a:hover {
  color: var(--dark-contrast);
  text-decoration: none;
}

.layout__date {
  background: var(--dark);
  color: var(--dark-contrast);
  display: flex;
  flex-direction: row;
  grid-column: span 2;
  padding: 0.25rem;
  justify-content: space-between;
}

.layout__date .date {
  font-weight: bold;
}

@media screen and (min-width: 650px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 950px) {
  .layout {
    grid-template-columns: repeat(3, 1fr);
  }

  .layout__date {
    grid-column: 1 / span 1;
  }
}
